node_modules
.turbo
.next
*.turbo
*.next
dist
build
.tsbuildinfo
.tsbuildinfo.json
.expo
.expo-shared
.DS_Store
.env
.env.local
*.tsbuildinfo
*.tsbuildinfo.json
*.expo
*.expo-shared
*.DS_Store
*.env
*.env.local
supabase/.temp
