@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

.container-page {
  @apply max-w-6xl mx-auto px-4 md:px-6;
}
